<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--
- File attribute will be merged with the settings in the appSettings.
- ConfigSource does not support merging, it will override all setting in the main file
- More details https://stackoverflow.com/a/6940086/1872200 
- System.Configuration.ConfigurationErrorsException is thrown if config source file does not exist.
-->
  <appSettings configSource="AppSettings.config" >
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
